SUPABASE_DB_HOST=db.your-project.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=change-me
SUPPORTDESK_BOOTSTRAP_DEMO_DATA=true
SUPPORTDESK_BOOTSTRAP_ADMIN_PASSWORD=Admin1234!
SUPPORTDESK_BOOTSTRAP_CLIENT_PASSWORD=Client1234!
